html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

canvas {
  display: block;
  width: 700px;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  z-index: 1;
}


* {
  margin: 0;
  padding: 0;
}

#bg {
  background: #4491C4;
  width: 100%;
  min-height: 400px;
  height: 100%;
  position: absolute;
  display: block;
  overflow: hidden;
}

.shd {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.13);
  z-index: 0 !important;
}

/* Cloud */
.cloud {
  display: block;
  position: absolute;
  left: 25%;
  top: 15%;
  animation: slide 18s infinite linear;
}

.cld {
  background: #CAF0FF;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 1;
}

.cld.a {
  top: 20px;
  left: 0;
  width: 130px;
  height: 40px;
}

.cld.b {
  top: -5px;
  left: 10px;
}

.cld.c {
  top: -2px;
  left: 60px;
}

.cld.d {
  top: -22px;
  left: 39px;
}

.cloud_a {
  left: 62%;
  top: 15%;
  animation: cloud_a 22s infinite linear;
  transform: scale(1.3);
}

.cloud_b {
  left: 50%;
  top: 20%;
  animation: cloud_b 26s infinite linear;
  transform: scale(1.8);
}

.cloud_c {
  left: 37%;
  top: 7%;
  animation: cloud_c 29s infinite linear;
  transform: scale(0.8);
}

.cloud_d {
  left: 25%;
  top: 12%;
  animation: cloud_d 24s infinite linear;
  transform: scale(1.5);
}

@keyframes slide {
  0% {
    left: 15%;
  }
  50% {
    left: 63%;
  }
  100% {
    left: 15%;
  }
}

@keyframes cloud_a {
  0% {
    left: 62%;
  }
  50% {
    left: 90%;
  }
  100% {
    left: 62%;
  }
}

@keyframes cloud_b {
  0% {
    left: 50%;
  }
  50% {
    left: 23%;
  }
  100% {
    left: 50%;
  }
}

@keyframes cloud_c {
  0% {
    left: 37%;
  }
  50% {
    left: 47%;
  }
  100% {
    left: 37%;
  }
}

@keyframes cloud_d {
  0% {
    left: 25%;
  }
  50% {
    left: 65%;
  }
  100% {
    left: 25%;
  }
}

/* Ground */
.ground {
  position: absolute;
  width: 100%;
  height: 400px;
  background: #CE7E3E;
  bottom: -60px;
}

/* Tree */
.tree {
  background: #B7EE71;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 1;
}

.tree.a {
  top: 20px;
  left: -27px;
  width: 90px;
  height: 30px;
}

.tree.b {
  top: 7px;
  left: 21px;
}

.tree.c {
  top: 9px;
  left: -19px;
}

.tree.trunk {
  width: 15px;
  height: 50px;
  border-radius: 0;
  top: 46px;
  left: 10px;
  background: #D8B55C;
  z-index: 0;
}

.tree_a {
  bottom: 80%;
  left: 80%;
  transform: rotate(12deg) scale(0.7);
}

.tree_b {
  bottom: 84%;
  left: 50%;
  transform: rotate(-2deg) scale(0.5);
}

.tree_c {
  bottom: 80%;
  left: 40%;
  transform: rotate(7deg) scale(0.4);
}

.tree_d {
  bottom: 82%;
  left: 26%;
  transform: rotate(-12deg) scale(0.5);
}